@import '../../../../styles/shared.scss';

.footerWidget {
    background-color: #55352D;
    padding: 50px 7vw;
    display: flex;
    justify-content:space-between;
    

    &__title {
        color: $bgYellow;
        font-size: 64px;
        font-weight: 800;
    }

    &__subtitle {
        color: $bgYellow;
        font-size: 18px;
        font-weight: 600;
        width: 400px;
    }

    &__socialMedia {
        display: flex;
        align-items:center;
        gap: 20px;

        svg{
            cursor: pointer;
        }
    }
}

@media (max-width: 669px) {
    .footerWidget {
        flex-direction: column;
        align-items: center;
        padding: 50px 0;

        &__title {
            text-align: center;
        }

        &__subtitle {
            text-align: center;
            margin-top: 10px;
        }

        &__socialMedia {
            margin-top: 40px;
        }

    }
}


@media (max-width: 600px) {
    .footerWidget {
   
        &__title {
            font-size: 45px;
        }

        &__subtitle {
            font-size: 16px;
            width: 350px;
        }
    }
}