@import 'vars.scss';

@mixin heading_2 {
    font-weight: $open-sans;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: $black;
}

@mixin heading_3 {
    font-weight: $open-sans;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: $black;
}

@mixin text_large_regular {
    font-weight: $open-sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $black;
}

@mixin text_large_bold {
    font-weight: $open-sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $black;
}

@mixin text_medium_regular {
    font-weight: $open-sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

@mixin text_medium_bold {
    font-weight: $open-sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

@mixin text_small_regular {
    font-weight: $open-sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $black;
}

@mixin text_small_bold {
    font-weight: $open-sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $black;
}

@mixin text_x_small_regular {
    font-weight: $open-sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $black;
}

@mixin text_x_small_bold {
    font-weight: $open-sans;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: $black;
}