// fonts
$nunito-font: "Grandstander", "sans-serif";


// colors
$black: #0C0D0B;
$white: #FFFFFF;

$bgYellow: #FEF4DE;
$bgBrown: #7C4032;
$yellow: #F3CE5E;
$brown: #663128;

$gray: #D4D7D2;
$medium-gray:#ECEEEC;
$light-gray: #F7F7F7;
$dark-gray: #A0A49F;

$main-green: #9DE86D;
$main-green-click: #B3F28A;
$links: #62CA1F;
$dark-green: #23420A;

$text-main: #5B5E5A;

$red: #FF2950;
$red-click: #FC6D87;