@import '../../../../styles/shared.scss';


.tokenomicsWidget {
    width: 100vw;
    padding: 100px 0;
    background-image: url('../../../../assets/images/shapesBg.png');
    background-color: $bgYellow;
    background-size: 100vw;
    position: relative;

    &__title {
        color: $bgBrown;
        font-size: 64px;
        font-weight: 800;
        text-align: center;
    }

    &__content {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 7vw 0;

        svg {
            width: 400px;
            min-width: 400px;
            margin-left: 99px;
        }
    }

    &__description {
        width: 500px;
        font-size: 18px;
        color: $bgBrown;
        margin-bottom: 20px;
        font-weight: 600;

        &Item {
            width: 527px;
            font-size: 18px;
            color: $bgBrown;
            font-weight: 600;
            margin-top: 10px;
        }
    }

    &__itemsBlock {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        max-width: 1200px;
        margin: 120px auto 0;
    }

    &__item {
        height: 131px;
        border-radius: 30px;
        background-color: $bgBrown;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85.99px;
            height: 85.99px;
            position: absolute;
            top: -40px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            font-size: 18px;
            color: $white;
            font-weight: 600;
            margin-top: 20px;
        }
    }
}


@media (max-width: 1408px) {
    .tokenomicsWidget {
        &__itemsBlock {
            margin: 120px 7vw 0;
        }
    }
}

@media (max-width: 1267px) {
    .tokenomicsWidget {
        &__content {
            svg {
                width: 300px;
                min-width: 300px;
            }
        }
    }
}


@media (max-width: 1083px) {
    .tokenomicsWidget {
        &__content {
            justify-content: space-between;

            svg {
                width: 200px;
                min-width: 200px;
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 860px) {
    .tokenomicsWidget {
        &__description {
            width: 360px;

            &Item {
                width: 400px;
            }
        }
    }
}


@media (max-width: 768px) {
    .tokenomicsWidget {

        &__content {
            flex-direction: column-reverse;

            svg {
                margin-bottom: 40px;
            }
        }

        &__itemsBlock {
            width: 360px;
            grid-template-columns: repeat(1, 1fr);
            margin: 100px auto 0;
        }

        &__item {
            max-width: 360px;
        }

        &__description {
            text-align: center;
            margin: 0 auto;

            &Item {
                text-align: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .tokenomicsWidget {
        padding: 50px 0;

        &__title {
            font-size: 45px;
        }
    }
}