@import '../../../../styles/shared.scss';

.justRelaxWidget {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: $bgBrown;
        font-size: 64px;
        font-weight: 800;
        text-align: center;
        margin: 0 40px 15px;

    }

    &__description {
        font-size: 18px;
        color: $bgBrown;
        font-weight: 600;
        margin: 0 40px 50px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .justRelaxWidget {
        padding: 50px 0;

        &__title {
            font-size: 45px;
        }
    }
}